.accueil-navbar {
  position: relative;
  z-index: 1000;
}

body,html{
  background: linear-gradient(to bottom right, #0f172a, #1a2942);
}

.accueil-main {
  min-height: calc(var(--vh, 1vh) * 100); /* Assure que tout remplit la page */
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 0;
}

.accueil-container1 {
    min-width: 100%; /* 100% de la largeur de la fenêtre */
    height: 100vh; /* 100% de la hauteur de la fenêtre */
    display: flex; /* Flexbox pour un positionnement facile des enfants */
    flex-direction: column; /* Orientation verticale */
    justify-content: center; /* Centrer verticalement les enfants */
    align-items: center; /* Centrer horizontalement les enfants */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les espaces internes */
    box-sizing: border-box; /* Inclut les bordures et le padding dans les dimensions */
  }
  
  .accueil-header {
    margin-top: 2rem;
    color: white;
    justify-content: center;
    align-items: center;
  }
  
  .accueil-content {
    justify-content: center;
    display: contents;
    width: 100%;
    flex: 1;
  }

  .accueil-features {
    margin-bottom: 5rem;
  }
  
  .default-header, .selected-content {
    padding-top: 2rem;
    margin-top: 2rem;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .selected-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 499px; /* Limite la hauteur à 100vh */
    width: 100%;
    color: white;
    box-sizing: border-box;
    margin-bottom: 5rem;
    padding: 0;
    text-align: center;
    overflow: hidden;
  }
  
  .selected-content h2,
  .selected-content p {
    margin: 0 5rem 1rem 5rem;
  }
  
  .selected-content-img {
    width: 50%;
    max-width: 600px; /* Limite la largeur de l'image */
    border-radius: 50%;
  }
  
  .selected-content-img img {
    object-fit: cover;
    width: 100%;
    margin-top: 5rem;
    user-select: none;
    pointer-events: none;
  }

  .btn-conf {
    width: 13rem;
    padding: 1rem;
    background-color: #005f8c;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }

  .btn-conf a {
    color: white;
    text-decoration: none;
  }

  .btn-conf:hover {
    background-color: #014a6c;
    transition: background-color 0.5s ease;
  }

  .btn-retour {
    margin-top: 3rem;
    width: 13rem;
    padding: 1rem;
    background-color: #005f8c;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }

  .btn-retour a {
    color: white;
    text-decoration: none;
  }

  .btn-retour:hover {
    background-color: #014a6c;
    transition: background-color 0.5s ease;
  }

  .animated-text {
    font-size: 6rem;
    color: #ffffff;
    opacity: 0; /* Départ invisible */
    transform: translateY(50px); /* Départ décalé vers le bas */
    animation: slideIn 1.5s ease-out forwards; /* Animation appliquée */
    margin-bottom: 0;
  }
  
  .animated-subtext {
    font-size: 3rem;
    color: #ffffff;
    opacity: 0; /* Départ invisible */
    transform: translateY(50px); /* Départ décalé vers le bas */
    animation: slideIn 2.5s ease-out forwards; /* Animation appliquée */
  }

  /* Définition de l'animation */
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  h1{
    text-align: center;
    font-size: 4rem;
    color: white;
  }

  .accueil-container2, .accueil-container3 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space;
    min-height: 100vh;
    min-width: 100%;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
  }

motion.div {
  position: relative;
  will-change: transform, opacity;
}

  .accueil-about, .accueil-about2 {
    justify-content: center;
    width: 50%;
  }

  .accueil-about p , .accueil-about2 p{
    margin: 0 5rem 1rem 5rem;
  }

  .accueil-about-img, .accueil-about-img2 {
    width: 50%;
    border-radius: 50%;
  }

  .accueil-about-img img {
    object-fit: cover;
    width: 100%;
    margin-top: 5rem;
    user-select: none;
    pointer-events: none;
  }

  .accueil-about-img2 img {
    width: 120%;
    user-select: none;
    pointer-events: none;
  }  
  .accueil-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 0;
    padding: 20px 0;
    font-size: 14px;
    color: #777;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  
 .accueil-carousel {
    width: 100%;
 }

 