
body{
    background-color: #0b1926;
}

.accueil-container1 {
    min-width: 100%; /* 100% de la largeur de la fenêtre */
    height: 100vh; /* 100% de la hauteur de la fenêtre */
    display: flex; /* Flexbox pour un positionnement facile des enfants */
    flex-direction: column; /* Orientation verticale */
    justify-content: center; /* Centrer verticalement les enfants */
    align-items: center; /* Centrer horizontalement les enfants */
    background-color: #070f17; /* Optionnel : couleur de fond */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les espaces internes */
    box-sizing: border-box; /* Inclut les bordures et le padding dans les dimensions */
  }
  
  .accueil-header {
    margin-top: 2rem;
    color: white;
    justify-content: center;
    align-items: center;
  }
  
  .accueil-content {
    justify-content: center;
    display: contents;
    width: 100%;
  }

  .accueil-features {
    margin-bottom: 8rem;
  }

  .btn-conf {
    width: 13rem;
    padding: 1rem;
    background-color: #005f8c;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }

  .btn-conf a {
    color: white;
    text-decoration: none;
  }

  .btn-conf:hover {
    background-color: #014a6c;
    transition: background-color 0.5s ease;
  }

  .animated-text {
    font-size: 6rem;
    color: #ffffff;
    opacity: 0; /* Départ invisible */
    transform: translateY(50px); /* Départ décalé vers le bas */
    animation: slideIn 1.5s ease-out forwards; /* Animation appliquée */
  }
  
  .animated-subtext {
    font-size: 4rem;
    color: #ffffff;
    opacity: 0; /* Départ invisible */
    transform: translateY(50px); /* Départ décalé vers le bas */
    animation: slideIn 2.5s ease-out forwards; /* Animation appliquée */
  }

  /* Définition de l'animation */
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  h1{
    text-align: center;
    font-size: 4rem;
    color: white;
  }

  .accueil-container2-bg, .accueil-container3-bg {
    background-color: #070f17;;
  }

  .accueil-container2 {
    display: flex;
    align-items: center;
    justify-content: space;
    min-height: 100%;
    min-width: 100%;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
  }

.accueil-container3 {
    display: flex;
    flex-direction: row; /* Organisation des enfants en colonne */
    justify-content: flex-start; /* Aligne les enfants en haut du conteneur */
    min-height: 100vh; /* Assurez-vous que le conteneur occupe toute la hauteur */
    min-width: 100%;
    padding-top: 0; /* Supprime tout padding supérieur */
    margin: 0; /* Supprime toute marge par défaut */
    color: white;
}
  .accueil-about, .accueil-about2 {
    justify-content: center;
    width: 50%;
  }

  .accueil-about p , .accueil-about2 p{
    margin: 0 5rem 1rem 5rem;
  }

  .accueil-about-img, .accueil-about-img2 {
    width: 50%;
    border-radius: 50%;
  }

  .accueil-about-img img {
    margin-top: 5rem;
    user-select: none;
    pointer-events: none;
  }
  
  .accueil-footer {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
    justify-content: center;
    align-items: center;
  }
  
 .accueil-carousel {
    width: 100%;
 }
