.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://images.hdqwalls.com/wallpapers/after-sunset-minimal-4k-zm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .register-container-Left {
    display: inline-block;
    justify-content: left;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    width: 50%;
  }

  .register-text {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: 40%;
    margin-left: 0%;
    line-height: 0%;
  }

  .register-subtext{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-left: 20%;
  }

  .register-container-Right {
    display: inline-block;
    justify-content: right;
    align-items: right;
    height: 100vh;
    background-color: transparent;
    width: 50%;
  }
  
  .register-form {
    background: #0073af;
    padding: 2%;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;  
    margin-left: 30%;
    margin-top: 5%;
  }
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 10%;
  }
  
  .register-form input {
    width: 90%;
    padding: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: larger;
  }

  input::placeholder {
    font-size: large;
  }
  
  .register-form button {
    width: 50%;
    padding: 10px;
    background-color: #ff6e00;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #e26404;
  }
  
  .register-logo {
    display: flex;
    justify-content: center;
    margin: 10%;
    pointer-events: none;
    user-select: none;
  }
  
  .register-logo img {
    width: 80%;
    height: auto;
    object-fit: contain;
    user-select: none;
  }
  