.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    position: relative;
  }
  
  .register-form {
    background: #0073af;
    padding: 20px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-form input {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color: #ff6e00;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #e26404;
  }
  
  .register-logo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .register-logo img {
    width: 80px;
    height: auto;
    object-fit: contain;
    user-select: none;
  }
  