.no-scroll {
  overflow-y: hidden;
  height: 100vh;
}


.main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #070f17;
    color: #f0f0f0;
}

.simulateur-container {
    flex-direction: row;
    height: 100vh;
    width: 100%;
    display: flex;
}

.simulateur-navbar {
    z-index: 2;
}

.simulateur-title {
    margin-top: 0;
    padding: 1rem;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #070f17;
}

.simulateur-grid-container {
    width: 80%;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.simulateur-toolbar {
    height: 0;
    width: 20.25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
    background-color: #070f17;
}


.animated-progress {
    appearance: none;
    width: 100%;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f0f0f0;
    opacity: 1;
    transition: opacity 2s ease, width 2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .animated-progress::-webkit-progress-bar {
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
  .animated-progress::-webkit-progress-value {
    background-color: #007bff;
  }
  
  .animated-progress::-moz-progress-bar {
    background-color: #007bff;
  }
  
  .fade-out {
    opacity: 0; /* Fait disparaître la barre progressivement */
    transition: opacity 2s ease; /* Durée de la transition */
    pointer-events: none; /* Empêche toute interaction lorsque la barre disparaît */
  }

  .protection-rate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .protection-circle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(
      from 0deg,
      blue 0%,
      blue calc(var(--percentage) * 1%),
      orange calc(var(--percentage) * 1%),
      orange 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .inner-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color : black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
  }


